html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
}

.sections {
  max-width: 100%;
  overflow: hidden;
}

.container {
  *zoom: 1;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background: #000;
}

.carousel .owl-wrapper {
  position: relative;
}
.carousel .owl-wrapper.grabbing {
  cursor: move;
}
.carousel .owl-wrapper-outer {
  overflow: hidden;
}
.carousel .owl-item {
  float: left;
}
.carousel .owl-stage {
  overflow: hidden;
  position: relative;
}

@font-face {
  font-family: 'SegoeUI';
  src: url("../fonts/SegoeUI.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SegoeUI';
  src: url("../fonts/SegoeUI.woff") format("woff"), url("../fonts/SegoeUI.ttf") format("truetype"), url("../fonts/SegoeUI.svg#SegoeUI") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadProRegular';
  src: url("../fonts/myriadpro-regular.eot");
  src: url("../fonts/myriadpro-regular.eot") format("embedded-opentype"), url("../fonts/myriadpro-regular.woff2") format("woff2"), url("../fonts/myriadpro-regular.woff") format("woff"), url("../fonts/myriadpro-regular.ttf") format("truetype"), url("../fonts/myriadpro-regular.svg#MyriadProRegular") format("svg");
}
.img-responsive {
  display: block;
  max-width: 100%;
}
.img-responsive.centered {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

body {
  color: #fff;
  font-family: 'SegoeUI';
  font-size: 16px;
  line-height: 1.2;
}

p {
  margin: 0 0 20px;
}

a {
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #9c1811;
  text-decoration: none;
}
a:focus {
  outline: none !important;
}

.sp-sprite, .sp-arr_left, .custom-pagination-wrapper .pagination-inner .next, .sp-arr_right, .custom-pagination-wrapper .pagination-inner .prev, .sp-arrow-left, .carousel-body .big-photos .owl-prev, .carousel-body .big-photos .owl-next.owl-prev, .sp-arrow-right, .carousel-body .big-photos .owl-next, .sp-f, .foo-socilas a.f, .sp-facebook, .top-socials .soc.fb, .sp-i, .foo-socilas a.i, .sp-o, .foo-socilas a.o, .sp-odnoklasniki, .top-socials .soc.odn, .sp-old, .old, .sp-p, .foo-socilas a.p, .sp-t, .foo-socilas a.t, .sp-twitter, .top-socials .soc.tw, .sp-y, .foo-socilas a.y {
  background-image: url('../images/sp-s0aa0131dbc.png');
  background-repeat: no-repeat;
}

.sp-arr_left, .custom-pagination-wrapper .pagination-inner .next {
  background-position: 0 0;
  height: 40px;
  width: 40px;
}
.sp-arr_left:hover, .custom-pagination-wrapper .pagination-inner .next:hover, .sp-arr_left.arr_left-hover, .custom-pagination-wrapper .pagination-inner .arr_left-hover.next {
  background-position: 0 -40px;
}

.sp-arr_right, .custom-pagination-wrapper .pagination-inner .prev {
  background-position: 0 -80px;
  height: 40px;
  width: 40px;
}
.sp-arr_right:hover, .custom-pagination-wrapper .pagination-inner .prev:hover, .sp-arr_right.arr_right-hover, .custom-pagination-wrapper .pagination-inner .arr_right-hover.prev {
  background-position: 0 -120px;
}

.sp-arrow-left, .carousel-body .big-photos .owl-prev, .carousel-body .big-photos .owl-next.owl-prev {
  background-position: 0 -160px;
  height: 50px;
  width: 20px;
}

.sp-arrow-right, .carousel-body .big-photos .owl-prev.owl-next, .carousel-body .big-photos .owl-next {
  background-position: 0 -210px;
  height: 50px;
  width: 20px;
}

.sp-f, .foo-socilas a.f {
  background-position: 0 -260px;
  height: 17px;
  width: 19px;
}
.sp-f:hover, .foo-socilas a.f:hover, .sp-f.f-hover, .foo-socilas a.f-hover.f {
  background-position: 0 -277px;
}

.sp-facebook, .top-socials .soc.fb {
  background-position: 0 -294px;
  height: 20px;
  width: 11px;
}

.sp-i, .foo-socilas a.i {
  background-position: 0 -314px;
  height: 17px;
  width: 19px;
}
.sp-i:hover, .foo-socilas a.i:hover, .sp-i.i-hover, .foo-socilas a.i-hover.i {
  background-position: 0 -331px;
}

.sp-o, .foo-socilas a.o {
  background-position: 0 -348px;
  height: 17px;
  width: 18px;
}
.sp-o:hover, .foo-socilas a.o:hover, .sp-o.o-hover, .foo-socilas a.o-hover.o {
  background-position: 0 -365px;
}

.sp-odnoklasniki, .top-socials .soc.odn {
  background-position: 0 -382px;
  height: 21px;
  width: 12px;
}

.sp-old, .old {
  background-position: 0 -403px;
  height: 25px;
  width: 25px;
}

.sp-p, .foo-socilas a.p {
  background-position: 0 -428px;
  height: 17px;
  width: 18px;
}
.sp-p:hover, .foo-socilas a.p:hover, .sp-p.p-hover, .foo-socilas a.p-hover.p {
  background-position: 0 -445px;
}

.sp-t, .foo-socilas a.t {
  background-position: 0 -462px;
  height: 17px;
  width: 18px;
}
.sp-t:hover, .foo-socilas a.t:hover, .sp-t.t-hover, .foo-socilas a.t-hover.t {
  background-position: 0 -479px;
}

.sp-twitter, .top-socials .soc.tw {
  background-position: 0 -496px;
  height: 16px;
  width: 19px;
}

.sp-y, .foo-socilas a.y {
  background-position: 0 -512px;
  height: 17px;
  width: 18px;
}
.sp-y:hover, .foo-socilas a.y:hover, .sp-y.y-hover, .foo-socilas a.y-hover.y {
  background-position: 0 -529px;
}

.main-nav {
  padding: 15px 0 0 0;
}
.main-nav li {
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 20px;
}
.main-nav li:first-child {
  margin-left: 0;
}
.main-nav li a {
  color: #4d4d4d;
}
.main-nav li.active a {
  color: #9c1811;
}

.top-socials .soc {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 17px;
}
.top-socials .soc:first-child {
  margin-left: 0;
}

.header {
  *zoom: 1;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: #000;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  height: 50px;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 640px) {
  .header {
    display: none;
  }
}
.header .left-side {
  float: left;
}
.header .right-side {
  float: right;
}
.header .top-socials, .header .old {
  display: inline-block;
  vertical-align: top;
}
.header .old {
  margin-top: 12px;
}
.header .top-socials {
  margin: 12px 40px 0  0;
}
.header .h-date {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: inline-block;
  vertical-align: top;
  padding-top: 15px;
  padding-right: 20px;
  color: #4d4d4d;
}
.header .center-h-logo {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-transition: -moz-transform 0.2s ease;
  -o-transition: -o-transform 0.2s ease;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  display: block;
  width: 217px;
  margin: 0 auto;
  top: -9px;
  left: 50%;
  margin-left: -108.5px;
  position: absolute;
}
.header.second {
  padding: 15px 0;
  height: 80px;
}
@media (max-width: 992px) {
  .header.second {
    height: 130px;
  }
}
@media (max-width: 992px) and (max-width: 992px) {
  .header.second .main-nav {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    text-align: center;
    float: none;
  }
}

.header.second .h-date {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
@media (max-width: 992px) {
  .header.second .h-date {
    position: absolute;
    left: 20px;
    top: 20px;
  }
}
.header.second .center-h-logo {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  position: relative;
  left: 0;
  margin: 0 auto;
}

.mobile-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: #000;
  height: 50px;
  z-index: 100;
  display: none;
}
.mobile-header .old {
  position: absolute;
  right: 20px;
  top: 15px;
}
.mobile-header .top-socials {
  padding-top: 15px;
}
.mobile-header .t {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 15px;
}
@media (max-width: 640px) {
  .mobile-header {
    display: block;
  }
}

.section-1 {
  position: relative;
}

.section-2 {
  background: url('../images/section-2-bg.jpg?1433346783') center 0 no-repeat;
  background-size: 100% 100%;
  padding-top: 140px;
  position: relative;
}
@media (max-width: 640px) {
  .section-2 {
    background: none;
    min-height: 0 !important;
    padding-bottom: 65px;
    padding-top: 65px;
  }
}

.carousel-body {
  margin: 0 auto;
  max-width: 942px;
  position: relative;
}
.carousel-body .big-photos {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}
.carousel-body .big-photos .owl-prev, .carousel-body .big-photos .owl-next {
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  position: absolute;
  top: 50%;
  display: block;
  cursor: pointer;
  margin-top: -25px;
  text-indent: -9999px;
  z-index: 20;
}
.carousel-body .big-photos .owl-prev:hover, .carousel-body .big-photos .owl-next:hover {
  opacity: .8;
}
.carousel-body .big-photos .owl-prev.owl-prev, .carousel-body .big-photos .owl-next.owl-prev {
  left: -50px;
}
@media (max-width: 640px) {
  .carousel-body .big-photos .owl-prev.owl-prev, .carousel-body .big-photos .owl-next.owl-prev {
    left: 20px;
  }
}
.carousel-body .big-photos .owl-prev.owl-next, .carousel-body .big-photos .owl-next.owl-next {
  right: -50px;
}
@media (max-width: 640px) {
  .carousel-body .big-photos .owl-prev.owl-next, .carousel-body .big-photos .owl-next.owl-next {
    right: 20px;
  }
}
@media (max-width: 1080px) {
  .carousel-body .big-photos .owl-prev, .carousel-body .big-photos .owl-next {
    display: none;
  }
}
@media (max-width: 640px) {
  .carousel-body .big-photos .owl-prev, .carousel-body .big-photos .owl-next {
    display: block;
  }
}
@media (max-width: 640px) {
  .carousel-body .thumbs {
    display: none !important;
  }
}
.carousel-body .thumbs .owl-item {
  padding: 20px 0;
}
.carousel-body .thumbs .item {
  margin: 7px;
  position: relative;
  cursor: pointer;
}
.carousel-body .thumbs .item:before {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  border: 4px solid #521312;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 5px 10px rgba(82, 19, 18, 0.7);
}
.carousel-body .thumbs .item img {
  width: 100%;
}
.carousel-body .thumbs .synced .item:before {
  opacity: 1;
  visibility: visible;
}

.section-3 {
  padding-top: 162px;
  padding-bottom: 260px;
  position: relative;
}
@media (max-width: 640px) {
  .section-3 {
    padding-top: 65px;
  }
}

.about-body {
  max-width: 725px;
  margin: 0 auto;
}
.about-body .man {
  width: 28px;
  height: 108px;
  background: url('../images/blant.png?1433369645') 0 0 no-repeat;
  margin: 0 auto -8px;
}
@media (max-width: 640px) {
  .about-body .man {
    display: none;
  }
}
.about-body .title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 37px;
  text-transform: uppercase;
}
@media (max-width: 640px) {
  .about-body .title {
    display: none;
  }
}
.about-body .text {
  line-height: 1.3;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 230px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
}
.footer p {
  margin-bottom: 5px;
  color: #666666;
}
.footer .footer-container {
  margin: 0  auto;
  max-width: 615px;
}
.footer .marvel-logo {
  width: 71px;
  height: 30px;
  background: url('../images/marvel.png?1433345019') 0 0 no-repeat;
  margin: 0 auto 30px;
}
.footer .marvel-nav {
  margin-bottom: 13px;
}
.footer .marvel-nav li {
  display: inline-block;
  vertical-align: top;
  margin: 0 13px;
}
.footer .marvel-nav a {
  color: #999999;
}
.footer .marvel-nav a:hover {
  color: #fff;
}

.foo-socilas {
  padding-top: 10px;
  padding-bottom: 20px;
}
.foo-socilas li {
  display: inline-block;
  vertical-align: top;
  margin: 0 2px;
}
.foo-socilas a {
  display: block;
}

.white-section {
  background: #fff;
  position: relative;
}
.white-section .container {
  max-width: 960px;
  position: relative;
}

.rotator {
  overflow: hidden;
}
.rotator .item {
  position: relative;
  color: #999;
  padding-top: 240px;
  overflow: hidden;
  padding-bottom: 50px;
}
.rotator .item-title {
  text-transform: uppercase;
  color: #90140b;
  font-size: 30px;
  position: relative;
  font-family: 'MyriadProRegular';
  margin-bottom: 70px;
}
.rotator .item-title span.text {
  position: relative;
  z-index: 2;
}
.rotator .item-title span.num {
  -moz-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  color: #dcdcdc;
  font-size: 90px;
  position: absolute;
  top: 50%;
  left: -50px;
  z-index: 0;
}
.rotator .context {
  padding-left: 100px;
}
@media (max-width: 1024px) {
  .rotator .context {
    padding-left: 0;
  }
}
@media (max-width: 992px) {
  .rotator .container .item-title {
    display: none;
  }
}
.rotator .qw {
  position: relative;
  margin-bottom: 40px;
}
.rotator .qw .inn {
  color: #90140b;
  position: relative;
  font-size: 24px;
  padding: 0 30px;
  display: inline-block;
  vertical-align: top;
  line-height: 1.5;
}
@media (max-width: 1024px) {
  .rotator .qw .inn {
    font-size: 16px;
    line-height: 1.2;
  }
}
.rotator .qw .inn span {
  font-size: 50px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  line-height: .5;
}
.rotator .qw .inn span.f {
  margin-left: -30px;
}
.rotator .qw .inn span.s {
  margin-right: -30px;
}
@media (max-width: 1024px) {
  .rotator .qw .inn span {
    font-size: 25px;
    line-height: 0.7;
  }
}
.rotator .qw .autor {
  text-align: right;
  color: #9a9a9a;
  font-size: 16px;
  font-style: italic;
  padding-top: 15px;
}
.rotator .item-1 {
  z-index: 10;
}
.rotator .item-1 .side-bg {
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
  left: 0;
  top: 50%;
}
@media (max-width: 992px) {
  .rotator .item-1 .side-bg {
    display: none;
  }
}
.rotator .item-1 .slide-image {
  -moz-transform: translate3d(50%, 0, 0);
  -ms-transform: translate3d(50%, 0, 0);
  -webkit-transform: translate3d(50%, 0, 0);
  transform: translate3d(50%, 0, 0);
  float: right;
  position: relative;
  margin-left: 20px;
}
@media (max-width: 1024px) {
  .rotator .item-1 .slide-image {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@media (max-width: 768px) {
  .rotator .item-1 .slide-image {
    display: none;
  }
}
.rotator .item-2 {
  z-index: 9;
}
@media (min-width: 992px) and (max-width: 1400px) {
  .rotator .item-2 {
    height: 905px;
  }
}
.rotator .item-2 .double {
  display: none;
}
.rotator .item-2 .side-bg {
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
  left: 0;
  top: 50%;
}
@media (max-width: 992px) {
  .rotator .item-2 .side-bg {
    display: none;
  }
}
.rotator .item-2 .context {
  padding-left: 75px;
  padding-top: 30px;
  margin-top: -30px;
  overflow: hidden;
  width: 55%;
}
@media (max-width: 1200px) {
  .rotator .item-2 .context {
    width: 45%;
  }
}
@media (max-width: 992px) {
  .rotator .item-2 .context {
    overflow: visible;
  }
}
@media (max-width: 1024px) {
  .rotator .item-2 .context {
    padding-left: 0;
  }
}
@media (max-width: 992px) {
  .rotator .item-2 .context {
    width: auto;
    padding-left: 0;
  }
}
.rotator .item-2 .slide-image.f-double {
  margin-right: 15%;
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (max-width: 1824px) {
  .rotator .item-2 .slide-image.f-double {
    margin-right: 0;
  }
}
@media (max-width: 1200px) {
  .rotator .item-2 .slide-image.f-double {
    width: 474px;
  }
}
@media (max-width: 992px) {
  .rotator .item-2 .slide-image.f-double {
    display: none;
  }
}
@media (max-width: 992px) {
  .rotator .item-2 .p-1 {
    position: relative;
    padding-right: 50%;
  }
  .rotator .item-2 .double {
    display: block;
    position: absolute;
    width: 40%;
    bottom: 0;
    right: 0;
  }
}
@media (max-width: 768px) {
  .rotator .item-2 .p-1 {
    padding-right: 50%;
    position: relative;
    z-index: 2;
  }
  .rotator .item-2 .double {
    width: 50%;
  }
}
.rotator .item-2 .ctx-img {
  margin: 20px auto 40px;
}
@media (max-width: 560px) {
  .rotator .item-2 .qw {
    width: 255px;
    position: relative;
    z-index: 3;
  }
  .rotator .item-2 .qw .autor {
    text-align: left;
    padding-left: 30px;
  }
}
@media (max-width: 480px) {
  .rotator .item-2 .qw {
    width: 210px;
  }
  .rotator .item-2 .qw .inn {
    font-size: 15px;
  }
}
.rotator .item-3 {
  z-index: 8;
}
@media (min-width: 992px) and (max-width: 1400px) {
  .rotator .item-3 {
    height: 905px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .rotator .item-3 {
    padding-top: 420px;
  }
}
.rotator .item-3 .double {
  display: none;
}
.rotator .item-3 .side-bg {
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
  left: 0;
  top: 50%;
}
@media (max-width: 1250px) {
  .rotator .item-3 .side-bg {
    display: none;
  }
}
.rotator .item-3 .context {
  padding-left: 75px;
  padding-top: 30px;
  margin-top: -30px;
  overflow: hidden;
  width: 55%;
}
@media (max-width: 1200px) {
  .rotator .item-3 .context {
    width: 45%;
  }
}
@media (max-width: 992px) {
  .rotator .item-3 .context {
    overflow: visible;
  }
}
@media (max-width: 1024px) {
  .rotator .item-3 .context {
    padding-left: 0;
  }
}
@media (max-width: 992px) {
  .rotator .item-3 .context {
    width: auto;
    padding-left: 0;
  }
}
.rotator .item-3 .slide-image.f-double {
  margin-right: 17%;
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (max-width: 1824px) {
  .rotator .item-3 .slide-image.f-double {
    margin-right: -5%;
    width: 50%;
  }
}
@media (max-width: 1200px) {
  .rotator .item-3 .slide-image.f-double {
    width: 674px;
  }
}
@media (max-width: 992px) {
  .rotator .item-3 .slide-image.f-double {
    display: none;
  }
}
@media (max-width: 992px) {
  .rotator .item-3 .p-1 {
    position: relative;
    padding-right: 55%;
    margin-bottom: 20px;
  }
  .rotator .item-3 .double {
    display: block;
    position: absolute;
    width: 40%;
    bottom: 0;
    right: 0;
  }
}
@media (max-width: 768px) {
  .rotator .item-3 .p-1 {
    padding-right: 50%;
    position: relative;
    z-index: 2;
    padding-bottom: 150px;
  }
  .rotator .item-3 .double {
    width: 50%;
  }
}
@media (max-width: 580px) {
  .rotator .item-3 .p-1 {
    padding-bottom: 80px;
    padding-top: 0;
    padding-right: 60%;
  }
  .rotator .item-3 .double {
    bottom: auto;
    top: -35px;
    right: -20px;
  }
}
@media (max-width: 480px) {
  .rotator .item-3 .p-1 {
    padding-bottom: 5px;
  }
}
@media (max-width: 992px) {
  .rotator .item-3 .qw {
    width: 250px;
    position: relative;
    top: -170px;
  }
}
@media (max-width: 768px) {
  .rotator .item-3 .qw {
    top: auto;
    z-index: 2;
  }
}
@media (max-width: 480px) {
  .rotator .item-3 .qw {
    width: 200px;
    font-size: 15px;
  }
  .rotator .item-3 .qw .autor {
    text-align: left;
  }
}
.rotator .item-4 {
  z-index: 7;
}
.rotator .item-4 .tabs {
  margin-top: -220px;
}
.rotator .item-4 .tabs .tab-panel {
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .rotator .item-4 .tabs {
    margin-top: -50px;
    padding-bottom: 50px;
  }
}
.rotator .item-4 .qw {
  position: absolute;
  left: 50%;
  top: 100px;
  margin: 0 0 0 -150px;
  width: 315px;
  text-align: left;
}
.rotator .item-4 .qw .inn {
  line-height: 1.3;
}
.rotator .item-4 .qw .inn span {
  line-height: 0.4;
}
@media (max-width: 768px) {
  .rotator .item-4 .qw {
    width: 215px;
    margin-left: -100px;
    top: 70px;
  }
  .rotator .item-4 .qw .autor {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .rotator .item-4 .qw {
    width: 215px;
    margin-left: -110px;
    top: 45px;
  }
  .rotator .item-4 .qw .inn {
    font-size: 13px;
  }
}
.rotator .item-5 {
  z-index: 6;
  background: url('../images/dsc-slides/item-5/bg.jpg?1435627961') 100% 0 no-repeat;
  background-size: 100%;
}
@media (max-width: 992px) {
  .rotator .item-5 {
    background: url('../images/dsc-slides/item-5/bgm.jpg?1435652236') 100% 0 no-repeat;
    background-size: initial;
  }
}
.rotator .item-5 .double {
  display: none;
}
.rotator .item-5 .context {
  width: 50%;
  padding: 0;
}
@media (max-width: 992px) {
  .rotator .item-5 .context {
    width: auto;
    padding: 0;
  }
  .rotator .item-5 .context .double {
    display: block;
    margin-bottom: 20px;
  }
  .rotator .item-5 .context .most-hide {
    display: none;
  }
}

.tabs .tab-panel {
  display: none;
}
.tabs .tab-panel.active {
  display: block;
}
.tabs .tab-panel#tab-2 {
  position: relative;
  top: -6px;
  margin-bottom: 34px;
}

.diffs {
  text-align: center;
  white-space: nowrap;
}

.diff-item {
  display: inline-block;
  vertical-align: bottom;
  width: 33%;
  padding: 0 15px;
  white-space: normal;
}
.diff-item .data {
  text-align: center;
  font-size: 15px;
  padding-top: 20px;
}
.diff-item .data .t {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media (max-width: 480px) {
  .diff-item .data .t {
    font-size: 9px;
  }
}

.switcher-container {
  text-align: center;
}
.switcher-container .switcher {
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 20px;
  background: #eaeaea;
  font-size: 0;
}
.switcher-container .switch {
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  border-radius: 20px;
  height: 100%;
  width: 50%;
  z-index: 1;
  border: 1px solid #c1c1c1;
}
.switcher-container .switch.un {
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.switcher-container .sw {
  display: inline-block;
  vertical-align: top;
  width: 170px;
  padding: 7px;
  text-align: center;
  font-size: 14px;
  color: #6d6d6d;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.switcher-container .sw.active, .switcher-container .sw:hover {
  color: #b82111;
}
@media (max-width: 460px) {
  .switcher-container .sw {
    width: 120px;
  }
}

.custom-pagination-wrapper {
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  z-index: 30;
}
.custom-pagination-wrapper .pagination-inner {
  max-width: 960px;
  margin: 0 auto;
}
.custom-pagination-wrapper .pagination-inner .prev, .custom-pagination-wrapper .pagination-inner .next {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  margin-top: -10px;
}
@media (max-width: 992px) {
  .custom-pagination-wrapper .pagination-inner .prev, .custom-pagination-wrapper .pagination-inner .next {
    display: block;
    position: absolute;
    top: 0;
  }
}
.custom-pagination-wrapper .pagination-inner .next {
  margin-left: 25px;
}
@media (max-width: 992px) {
  .custom-pagination-wrapper .pagination-inner .next {
    right: 20px;
  }
}
.custom-pagination-wrapper .pagination-inner .prev {
  margin-right: 25px;
}
@media (max-width: 992px) {
  .custom-pagination-wrapper .pagination-inner .prev {
    left: 20px;
  }
}
.custom-pagination-wrapper .custom-pagination {
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 992px) {
  .custom-pagination-wrapper .custom-pagination {
    display: block;
    text-align: center;
  }
}
.custom-pagination-wrapper .custom-pagination .di {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  color: #6d6d6d;
  font-size: 14px;
  margin-left: 25px;
  cursor: pointer;
  position: relative;
}
.custom-pagination-wrapper .custom-pagination .di span.n {
  display: none;
}
.custom-pagination-wrapper .custom-pagination .di:first-child {
  margin-left: 0;
}
@media (max-width: 992px) {
  .custom-pagination-wrapper .custom-pagination .di {
    display: none;
    margin: 0;
  }
}
.custom-pagination-wrapper .custom-pagination .di.active {
  color: #90140b;
}
@media (max-width: 992px) {
  .custom-pagination-wrapper .custom-pagination .di.active {
    display: inline-block;
  }
  .custom-pagination-wrapper .custom-pagination .di.active span.n {
    display: block;
    position: absolute;
    left: -30px;
    top: -24px;
    font-size: 50px;
    color: #f2f2f2;
    font-family: 'MyriadProRegular';
    z-index: 0;
  }
  .custom-pagination-wrapper .custom-pagination .di.active span.n2 {
    display: block;
    position: relative;
    z-index: 2;
  }
}

#video_container {
  width: 100%;
  height: 1000px;
  position: relative;
  z-index: 1;
  opacity: 1;
  overflow: visible !important;
  top: -30px !important;
}

#main-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-image: url("../assets/temp-1.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
@media (max-width: 992px) {
  #main-image {
    z-index: 5;
  }
}

#text {
  -moz-transition: opacity ease;
  -o-transition: opacity ease;
  -webkit-transition: opacity ease;
  transition: opacity ease;
  opacity: 0;
  position: absolute;
  z-index: 6;
  text-align: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#text.op {
  opacity: 1;
}
#text .logo {
  margin-top: 115px;
  margin-bottom: 5px;
}
#text .play {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -52px;
  margin-left: -52px;
}
.sm-h #text .play {
  position: relative;
  left: auto;
  top: auto;
  margin: 0;
}
#text[style="opacity: 0;"] ~ #main-image {
  visibility: hidden !important;
  opacity: 0;
}

.backgroundVideo {
  z-index: 4;
}
@media (max-width: 992px) {
  .backgroundVideo {
    opacity: 0 !important;
    visibility: hidden !important;
  }
}

.overlayVideo {
  position: absolute;
  left: -3000px;
  top: 0px;
  z-index: 10;
  visibility: hidden;
}

.date span {
  display: inline-block;
  vertical-align: top;
  background: #9c1811;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  padding: 4px 4px 3px 4px;
  letter-spacing: .5px;
}

.play {
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  display: inline-block;
  vertical-align: top;
  width: 104px;
  height: 104px;
  background: url('../images/play.png?1433344915') 0 0 no-repeat;
  cursor: pointer;
}
.play:hover {
  opacity: .8;
}

.close {
  position: absolute;
  right: 3000px;
  top: 85px;
  font-weight: bold;
  font-size: 40px;
  z-index: 200;
  cursor: pointer;
}
