body{
    position: relative;
}

.sections{
    max-width: 100%;
    overflow: hidden;
}

.container{
    @include pie-clearfix();
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

body{
    background: #000;
}


.carousel{
    
    .owl-wrapper{
        position: relative;

        &.grabbing{
            cursor: move;
        }
    }

    .owl-wrapper-outer{
        overflow: hidden;
    }

    .owl-item{
        float: left;
    }

    .owl-stage{
        overflow: hidden;
        position: relative;
    }
}