.main-nav{
    padding: 15px 0 0 0;

    li{
        text-transform: uppercase;
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 20px;

        &:first-child{
            margin-left: 0;
        }

        a{
            color: #4d4d4d;
        }

        &.active{
            a{
                color: #9c1811;
            }
        }
    }
}

.top-socials{
    .soc{
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 17px;

        &:first-child{
            margin-left: 0;
        }

        &.fb{
            @extend .sp-facebook;
        }
        &.tw{
            @extend .sp-twitter;
        }
        &.odn{
            @extend .sp-odnoklasniki;
        }
    }
}

.old{
    @extend .sp-old;
}



.header{
    @include pie-clearfix();
    @include transition(all .2s ease);
    background: #000;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    height: 50px;

    @include brk($max: 640px){
        display: none;
    };


    .left-side{
        float: left;
    }

    .right-side{
        float: right;
    }

    .top-socials, .old{
        display: inline-block;
        vertical-align: top;
    }

    .old{
        margin-top: 12px;
    }

    .top-socials{
        margin: 12px 40px 0  0;
    }

    .h-date{
        @include transform(scale(0));
        @include transition(all .2s ease);
        display: inline-block;
        vertical-align: top;
        padding-top: 15px;
        padding-right: 20px;
        color: #4d4d4d;
    }

    .center-h-logo{
        @include transform(scale(0));
        @include transition(transform .2s ease);
        display: block;
        width: 217px;
        margin: 0 auto;
        top: -9px;
        left: 50%;
        margin-left: -(217px/2);
        position: absolute;
    }

    &.second{
        padding: 15px 0;
        height: 80px;

        @include brk($max: 992px){
            height: 130px;

            .main-nav{
                @include brk($max: 992px){
                    position: absolute;
                    left: 0;
                    bottom: 20px;
                    width: 100%;
                    text-align: center;
                    float: none;
                };

            };
        };


        .h-date{
            @include transform(scale(1));

            @include brk($max: 992px){
                position: absolute;
                left: 20px;
                top: 20px;
            };
        };

        .center-h-logo{
            @include transform(scale(1));
            position: relative;
            left: 0;
            margin: 0 auto;
        };

    }
}


.mobile-header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: #000;
    height: 50px;
    z-index: 100;
    display: none;

    .old{
        position: absolute;
        right: 20px;
        top: 15px;
    }

    .top-socials{
        padding-top: 15px;
    }

    .t{
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        padding-top: 15px;
    }

    @include brk($max: 640px){
        display: block;
    };
}