#video_container {
  width: 100%;
  height: 1000px;
  position: relative;
  z-index: 1;
  opacity: 1;
  overflow: visible !important;
  top: -30px !important;
}


#main-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-image: url('../assets/temp-1.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

    @include brk($max: 992px){
       z-index: 5;
    };

}


#text {
    @include transition(opacity .65 ease);
    opacity: 0;
    position: absolute;
    z-index: 6;
    text-align: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &.op{
        opacity: 1;
    }

    .logo{
        margin-top: 115px;
        margin-bottom: 5px;
    }

    .play{
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top:   -(image-height('play.png')/2);
        margin-left: - (image-width('play.png')/2);

        .sm-h & {
            position: relative;
            left: auto;
            top: auto;
            margin: 0;
        }
    }

    &[style="opacity: 0;"] ~ #main-image{
       visibility: hidden !important;
       opacity: 0;
    }
}

.backgroundVideo {
    z-index: 4;

    @include brk($max: 992px){
       opacity: 0 !important;
       visibility: hidden !important;
    };
}

.overlayVideo {

  position: absolute;
  left: -3000px;
  top: 0px;
  z-index: 10;
  visibility: hidden;

}


.date{
    span{
        display: inline-block;
        vertical-align: top;
        background: #9c1811;
        text-transform: uppercase;
        font-family: 'PT Sans', sans-serif;
        font-weight: bold;
        padding: 4px 4px 3px 4px;
        letter-spacing: .5px;
    }
}



.play{
    @include transition(opacity .2s ease);
    display: inline-block;
    vertical-align: top;
    width: image-width('play.png');
    height: image-height('play.png');
    background:  image-url('play.png') 0 0 no-repeat;
    cursor: pointer;

    &:hover{
        opacity: .8;
    }
}

.close{
    position: absolute;
    right: 3000px;
    top: 85px;
    font-weight: bold;
    font-size: 40px;
    z-index: 200;
    cursor: pointer;
}