.white-section{
    background: #fff;
    position: relative;

    .container{
        max-width: 960px;
        position: relative;
    }
}


.rotator{

    overflow: hidden;

    .item{
        position: relative;
        color: #999;
        padding-top: 240px;
        overflow: hidden;
        padding-bottom: 50px;
    }
 

    .item-title{
        text-transform: uppercase;
        color: #90140b;
        font-size: 30px;
        position: relative;
        font-family: 'MyriadProRegular';
        margin-bottom: 70px;

        span.text{
            position: relative;
            z-index: 2;
        }

        span.num{
            @include transform(translate3d(0,-50%,0));
            color: #dcdcdc;
            font-size: 90px;
            position: absolute;
            top: 50%;
            left: -50px;
            z-index: 0;
        }
    }

    .context{
        padding-left: 100px;

        @include brk($max: 1024px) {
            padding-left: 0;
        };

    }



    @include brk($max: 992px) {
        .container{
            .item-title{
                display: none;
            }
        }
    };




    .qw{
        position: relative;
        margin-bottom: 40px;

        .inn{
            color: #90140b;
            position: relative;
            font-size: 24px;
            padding: 0 30px;
            display: inline-block;
            vertical-align: top;
            line-height: 1.5;


            @include brk($max: 1024px) {
                font-size: 16px;
                line-height: 1.2;
            };


            span{
                font-size: 50px;
                position: relative;
                display: inline-block;
                vertical-align: top;
                line-height: .5;

                &.f{
                    margin-left: -30px;
                }

                &.s{
                    margin-right: -30px;
                }


                @include brk($max: 1024px) {
                    font-size: 25px;
                    line-height: 0.7;
                };

            }
        }

        .autor{
            text-align: right;
            color: #9a9a9a;
            font-size: 16px;
            font-style: italic;
            padding-top: 15px;
        }
    }









    .item-1{

        z-index: 10;

        .side-bg{
            @include transform(translate3d(-50%, -50%,0));
            position: absolute;
            left: 0;
            top: 50%;


            @include brk($max: 992px) {
                display: none;
            };

        }


        .slide-image{
            @include transform(translate3d(50%,0,0));
            float: right;
            position: relative;
            margin-left: 20px;

            @include brk($max: 1024px) {
                @include transform(translate3d(0,0,0));
            };


            @include brk($max: 768px) {
                display: none;
            };

        }
    }


    .item-2{

        z-index: 9;

        @include brk($min: 992px, $max: 1400px) {
            height: 905px;
        };


        .double{
            display: none;
        }

        .side-bg{
            @include transform(translate3d(-50%, -50%,0));
            position: absolute;
            left: 0;
            top: 50%;

            @include brk($max: 992px) {
                display: none;
            };

        }


        .context{
            padding-left: 75px;
            padding-top: 30px;
            margin-top: -30px;
            overflow: hidden;
            width: 55%;

            @include brk($max: 1200px) {
                width: 45%;
            };

             @include brk($max: 992px) {
                overflow: visible;
             }

            @include brk($max: 1024px) {
                padding-left: 0;
            };


            @include brk($max: 992px) {
                width: auto;
                padding-left: 0;
            };

        }


        .slide-image{

            &.f-double{
                margin-right: 15%;
                position: absolute;
                bottom: 0;
                right: 0;

                @include brk($max: 1824px) {
                    margin-right: 0;
                };

            
                @include brk($max: 1200px) {
                    width: 474px;
                };            
            


                @include brk($max: 992px) {
                    display: none;
                };
            }
        }

        @include brk($max: 992px) {
            
            .p-1{
                position: relative;
                padding-right: 50%;
            }

            .double{
                display: block;
                position: absolute;
                width: 40%;
                bottom: 0;
                right: 0;
            }
        };

        @include brk($max: 768px) {

            .p-1{
                padding-right: 50%;
                position: relative;
                z-index: 2;
            }

            .double{
                width: 50%;
            }
        };



        .ctx-img{
            margin: 20px auto 40px;
        }


        .qw{
            @include brk($max: 560px) {
                width: 255px;
                position: relative;
                z-index: 3;

                .autor{
                    text-align: left;
                    padding-left: 30px;
                }
            };
            @include brk($max: 480px) {
                width: 210px;

                .inn{
                    font-size: 15px;
                }
            };
        }

    }



    .item-3{

        z-index: 8;


        @include brk($min: 992px, $max: 1400px) {
            height: 905px;
        };
        @include brk($min: 768px, $max: 992px) {
            padding-top: 420px;
        };

        .double{
            display: none;
        }

        .side-bg{
            @include transform(translate3d(-50%, -50%,0));
            position: absolute;
            left: 0;
            top: 50%;

            @include brk($max: 1250px) {
                display: none;
            };

        }


        .context{
            padding-left: 75px;
            padding-top: 30px;
            margin-top: -30px;
            overflow: hidden;
            width: 55%;

            @include brk($max: 1200px) {
                width: 45%;
            };

             @include brk($max: 992px) {
                overflow: visible;
             }

            @include brk($max: 1024px) {
                padding-left: 0;
            };


            @include brk($max: 992px) {
                width: auto;
                padding-left: 0;
            };

        }


        .slide-image{

            &.f-double{
                margin-right: 17%;
                position: absolute;
                bottom: 0;
                right: 0;

                @include brk($max: 1824px) {
                    margin-right: -5%;
                    width: 50%;
                };

            
                @include brk($max: 1200px) {
                    width: 674px;
                };            
            


                @include brk($max: 992px) {
                    display: none;
                };
            }
        }

        @include brk($max: 992px) {
            
            .p-1{
                position: relative;
                padding-right: 55%;
                margin-bottom: 20px;
                 
            }

            .double{
                display: block;
                position: absolute;
                width: 40%;
                bottom: 0;
                right: 0;
            }
        };

        @include brk($max: 768px) {

            .p-1{
                padding-right: 50%;
                position: relative;
                z-index: 2;
                padding-bottom: 150px;
            }

            .double{
                width: 50%;
             }
        };

        @include brk($max: 580px) {

            .p-1{
                padding-bottom: 80px;
                padding-top: 0;
                padding-right: 60%;
            }

            .double{
                bottom: auto;
                top: -35px;
                right: -20px;
            }

        };

        @include brk($max: 480px) {

            .p-1{
                padding-bottom: 5px;
            }

        };


        .qw{
            @include brk($max: 992px ) {
                width: 250px;
                position: relative;
                top: -170px;
            };

            @include brk($max: 768px ) {
                top: auto;
                z-index: 2;
            };
            @include brk($max: 480px ) {
                
                width: 200px;
                font-size: 15px;

                .autor{
                    text-align: left;
                }
            };
        }


    }


    .item-4{
        z-index: 7;

        .tabs{
            margin-top: -220px;

            .tab-panel{
                margin-bottom: 40px;
            }

            @include brk($max: 992px) {
                margin-top: -50px;
                padding-bottom: 50px;
            };

        }

        .qw{
            position: absolute;
            left: 50%;
            top: 100px;
            margin: 0 0 0 -150px;
            width: 315px;
            text-align: left;

            .inn{
                line-height: 1.3;

                span{
                    line-height: 0.4;
                }
            }


            @include brk($max: 768px) {
                width: 215px;
                margin-left: -100px;
                top: 70px;

                .autor {
                    text-align: center;
                }
            };

            @include brk($max: 480px) {
                width: 215px;
                margin-left: -110px;
                top: 45px;
                
                .inn{
                    font-size: 13px;
                }
            };
        }
    }

    .item-5{
        z-index: 6;
        background:  image-url('dsc-slides/item-5/bg.jpg') 100% 0 no-repeat;
        background-size: 100%;

        @include brk($max: 992px) {
            background:  image-url('dsc-slides/item-5/bgm.jpg') 100% 0 no-repeat;
            background-size: initial;
        };


        .double{
            display: none;
        }


        .context{
            width: 50%;
            padding: 0;

            @include brk($max: 992px) {
                width: auto;
                padding: 0;

                .double{
                    display: block;
                    margin-bottom: 20px;
                }

                .most-hide{
                    display: none;
                }
            };
        }
    }
}

.tabs{
    .tab-panel{
        display: none;

        &.active{
            display: block;
        }

        &#tab-2{
            position: relative;
            top: -6px;
            margin-bottom: 34px;
        }
    }
}

.diffs{
    text-align: center;
    white-space: nowrap;
}


.diff-item {
    display: inline-block;
    vertical-align: bottom;
    width: 33%;
    padding: 0 15px;
    white-space: normal;

    .data{
        text-align: center;
        font-size: 15px;
        padding-top: 20px;

        .t{
            font-size: 16px;
            text-transform: uppercase;
            margin-bottom: 10px;

            @include brk($max: 480px) {
                font-size: 9px;
            };
        }
    }
}

.switcher-container{
    text-align: center;

    .switcher{
        display: inline-block;
        vertical-align: top;
        position: relative;
        border-radius: 20px;
        background: #eaeaea;
        font-size: 0;
    }

    .switch{
        @include transition(all .1s ease);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        border-radius: 20px;
        height: 100%;
        width: 50%;
        z-index: 1;
        border: 1px solid #c1c1c1;

        &.un{
            @include transform(translate3d(100%,0,0));
        }
    }

    .sw{
        display: inline-block;
        vertical-align: top;
        width: 170px;
        padding: 7px;
        text-align: center;
        font-size: 14px;
        color: #6d6d6d;
        cursor: pointer;
        position: relative;
        z-index: 2;

        &.active, &:hover{
            color: #b82111;
        }


        @include brk($max: 460px) {
            width: 120px;
        };
    }
}


.custom-pagination-wrapper{
        position: absolute;
        top: 120px;
        left: 0;
        width: 100%;
        z-index: 30;

    .pagination-inner{
        max-width: 960px;
        margin: 0 auto;

        .prev, .next{
            display: inline-block;
            vertical-align: top;
            cursor: pointer;
            margin-top: -10px;

            @include brk($max: 992px) {
                display: block;
                position: absolute;
                top: 0;

            };
        }

        .next{
            @extend .sp-arr_left;
            margin-left: 25px;

            @include brk($max: 992px) {
                right: 20px;
                
            };

        }

        .prev{
            @extend .sp-arr_right;
            margin-right: 25px;

            @include brk($max: 992px) {
                left: 20px;
            };

            
        }
        
    }    
    
    .custom-pagination{
        display: inline-block;
        vertical-align: top;

            @include brk($max: 992px) {
                display: block;
                text-align: center;

            };


        .di{
            display: inline-block;
            vertical-align: top;
            text-transform: uppercase;
            color: #6d6d6d;
            font-size: 14px;
            margin-left: 25px;
            cursor: pointer;
            position: relative;

            span.n{
                display: none;
            }

            &:first-child{
                margin-left: 0;
            }

            @include brk($max: 992px) {
                display: none;
                margin: 0;
            };


            &.active{
                color: #90140b;

                @include brk($max: 992px) {
                    display: inline-block;

                    span.n{
                        display: block;
                        position: absolute;
                        left: -30px;
                        top: -24px;
                        font-size: 50px;
                        color: #f2f2f2;
                        font-family: 'MyriadProRegular';
                        z-index: 0;
                    }

                    span.n2{
                        display: block;
                        position: relative;
                        z-index: 2;
                    }
                };

            }




        }
    }
    
}