.section-3{
    padding-top: 162px;
    padding-bottom: 260px;
    position: relative;

        @include brk($max: 640px){
            padding-top: 65px;
        };

}

.about-body{
    max-width: 725px;
    margin: 0 auto;

    .man{
        width: image-width('blant.png');
        height: image-height('blant.png');
        background: image-url('blant.png') 0 0 no-repeat;
        margin: 0 auto -8px;

        @include brk($max: 640px){
            display: none;
        }; 

    }

    .title{
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin: 0 0 37px;
        text-transform: uppercase;


        @include brk($max: 640px){
            display: none;
        }; 

    }

    .text{
        line-height: 1.3;
    }
}

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 230px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;

    p{
        margin-bottom: 5px;
        color: #666666;
    }

    .footer-container{
        margin:0  auto;
        max-width: 615px;
    }

    .marvel-logo{
        width: image-width('marvel.png');
        height: image-height('marvel.png');
        background: image-url('marvel.png') 0 0 no-repeat;
        margin: 0 auto 30px;
    }

    .marvel-nav{
        margin-bottom: 13px;

        li{
            display: inline-block;
            vertical-align: top;
            margin: 0 13px ;
        }

        a{
            color: #999999;

            &:hover{
                color: #fff;
            }
        }
    }
}

.foo-socilas{
    padding-top: 10px;
    padding-bottom: 20px;

    li{
        display: inline-block;
        vertical-align: top;
        margin: 0 2px;
    }

    a{
        display: block;
        
        &.f{
            @extend .sp-f;
        }        
        &.t{
            @extend .sp-t;
        }        
        &.p{
            @extend .sp-p;
        }        
        &.y{
            @extend .sp-y;
        }        
        &.i{
            @extend .sp-i;
        }        
        &.o{
            @extend .sp-o;
        }
    }
}