.section-2{
    background:  image-url('section-2-bg.jpg') center 0 no-repeat;
    background-size: 100% 100%;
    padding-top: 140px;
    position: relative;

    @include brk($max: 640px){
        background: none;
        min-height: 0 !important;
        padding-bottom: 65px;
        padding-top: 65px;
    }; 

}

.carousel-body{
    margin: 0 auto;
    max-width: 942px;
    position: relative;


    .big-photos{
        box-shadow: 0 5px 10px rgba(#000, .3);
        position: relative;

        .owl-prev, .owl-next{
            @include transition(opacity .2s ease);
            position: absolute;
            top: 50%;
            display: block;
            cursor: pointer;
            margin-top: -25px;
            text-indent: -9999px;
            z-index: 20;

            &:hover{
                opacity: .8;
            }

            &.owl-prev{
                @extend .sp-arrow-left;
                left: -50px;

                @include brk($max: 640px){
                   left: 20px;
                };

            }
            &.owl-next{
                @extend .sp-arrow-right;
                right: -50px;
                
                @include brk($max: 640px){
                   right: 20px;
                };

            }

            @include brk($max: 1080px){
                display: none;
            };

            @include brk($max: 640px){
                display: block;
            };

        }

    }

    .thumbs{

        @include brk($max: 640px){
            display: none !important;
        };
        
        .owl-item{
            padding: 20px 0;
        }

        .item{
            margin: 7px;
            position: relative;
            cursor: pointer;

            &:before{
                @include transition(all .2s ease);
                display: block;
                content: '';
                width: 100%;
                height: 100%;
                border: 4px solid #521312;
                opacity: 0;
                visibility: hidden;
                position: absolute;
                left: 0;
                top: 0;
                box-shadow: 0 5px 10px rgba(#521312, .7);
            }

            img{
                width: 100%;
            }
        }

        .synced{
            .item{
                &:before{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}