body{
    color: #fff;
    font-family: 'SegoeUI';
    font-size: 16px;
    line-height: 1.2;
}

p{
    margin: 0 0 20px;
}

a{
    @include transition(color .2s ease);
    color: #fff;
    text-decoration: none;

    &:hover{
        color: #9c1811;
        text-decoration: none;
    }

    &:focus{
        outline: none !important;
    }
}