.img-responsive{
    display: block;
    max-width: 100%;

    &.centered{
        margin-left: auto;
        margin-right: auto;
    }
}

.text-center{
    text-align: center;
}

.pull-right{
    float: right;
}

.pull-left{
    float: left;
}